body {
    margin:0 auto;
    font-size:18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:rgb(255, 255, 255);
}

.disappear{
    display: none;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #000000;
    height: 10vh;
}

header img{
    width: 7vh;
    height: auto;
    margin: 0% 2%;
}

header h2{
    font-size: 25px;
    color:#FFFFFF
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100vh;
}
 
.sidebox {
    display: flex;
    background:rgb(236, 232, 232);
    padding: 10px 0;
    height: 100%;
}

.sidebox ul {
    padding-inline-start: 0;
    width: 100%;
}

.sidebox ul li{
    padding-left: 10%;
    list-style: none;
    padding: 6px 0px;
    border-bottom:1px solid rbga(0,0,0,0.5);
    border-top:1px solid rbga(225,225,0,0.5);
}

.sidebox ul li:hover{
    background-color:rgb(182, 180, 180);
}

.sidebox ul li a{
    color: #000000;
    text-decoration: none;
    font-weight:bold;
    font-size:15px;
}

.sidebox ul li a .fas{
    margin: 0 10%;
}

.sidebox ul li > *:hover{
    color: #fff;
}

.infocon form{
    margin-left: 5%;
}

.infocon h1{
    font-size: 40px;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 10px;
}

.infocon input{
    background-color:rgb(240, 240, 240);
    border-radius: 3px;
    border:0.5px solid rgb(236, 233, 233);
    height: 29px;
    width: 70%;
    margin-top: 10px;
}

.infocon select{
    background-color:rgb(240, 240, 240);
    border-radius: 3px;
    border:0.5px solid rgb(236, 233, 233);
    height: 36px;
    width: 70.5%;
    margin-top: 10px;
}

button{
    background-color:rgb(3, 96, 184);
    border:none;
    border-radius:3px;
    width:120px;
    height:29px;
    color: white;
}
